/////////////////////////////////
// Global Styles & Basic Reset
*
    margin: 0
    padding: 0

*,*::before,::after
    box-sizing: inherit

html
    box-sizing: border-box
    font-size: 62.5%

body
    color: #00252E

h2
    font-family: "Poppins", sans-serif
    font-weight: 600
    font-size: 2rem
    margin-top: 2.4rem
    margin-bottom: 1.6rem

.main p
    font-family: "Open Sans", sans-serif
    font-size: 1.4rem
    line-height: 2.1rem
    color: #808E9A
    
.btn
    border: none
    border-radius: 1.5rem
    outline: transparent
    text-transform: capitalize
    font-family: "Open Sans", sans-serif
    font-weight: bold
    white-space: nowrap
    

.btn:hover
    cursor: pointer

.btn:active
    transform: translateY(.1rem)

.card
    width: 90%
    margin: 0 auto 4rem
    background-color: #fff
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15)
    border-radius: 1.6rem
    padding: 2.4rem 3.9rem 3.3rem
    text-align: center

.section-img
    margin-top: 5.6rem
    width: 100%

/////////////////////////////////
// Header
.header
    background-color:  #e3f9ff
    background-image: url("/images/bg-hero-mobile.svg")
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    height: 78vh
    margin-bottom: 5.9rem

.header__navbar
    display: flex
    justify-content: space-between
    align-items: center
    width: 90%
    margin: 0 auto
    padding-top: 2.7rem

    &-logo
        width: 10.4rem

    &-btn
        font-size: 1rem
        padding: .5rem 2.2rem
        background-color: #fff
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.0954201)

    &-btn:hover
        color: #808E9A

.header__hero
    width: 80%
    height: 55.3rem
    margin: 8rem auto 0
    text-align: center

    &-text

        &-heading
            font-family: "Poppins", sans-serif
            font-weight: 600
            font-size: 2.4rem
            margin-bottom: 2.4rem
            text-transform: capitalize

        &-paragraph
            font-family: "Open Sans", sans-serif
            font-size: 1.6rem
            line-height: 2.4rem
            margin-bottom: 3.2rem

        &-btn 
            background-color: #FF52C1
            padding: 1.2rem 5.8rem
            color: #fff
            margin-bottom: 5.6rem
            box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.166185)

        &-btn:hover
            background-color: #FF9ADB

    &-img
        width: 100%

/////////////////////////////////
// Main
.main
    text-align: center

.main__community
    width: 90%
    margin: 0 auto
    padding: 4.1rem 1.2rem
    background-color: #fff
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.15)
    border-radius: 1.5rem

    &-text
        width: 100%

    &-text-heading 
        font-size: 1.7rem
        text-transform: capitalize
        font-weight: 600
        margin: 0 0 2.4rem


    &-text-btn
        background-color: #FF52C1
        padding: 1.2rem 5.8rem
        color: #fff
        box-shadow: 2px 3px 6px 1px rgba(255, 82, 193, 0.166185)

    &-text-btn:hover
        background-color: #ff9adb

